:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*ELEMENTOS BASE*/

body {
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, Serif, Bebas Neue;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 15px;
}

.column {
    background-color: var(--preta);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    ;
}

header nav a:hover {
    color: #fff;
}


/*FILME PRINCIPAL - TRENDING*/

.filme-principal {
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('/img/2.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filme-principal .container .descricao {
    margin-bottom: 40px;
}